{% extends 'base.html' %}
{% load static %}
{% block title %}Detalle comprobante {{comprobante.id}}{% endblock %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle comprobantes</title>
</head>
<body>
    <a href="{% url 'crear_comprobante' %}">Crear Comprobante</a>

    Detalle del Comprobante:
    <ul>
        <li>{{comprobante.tipo}}</li>
        <li>Número: {{ comprobante.numero }}</li>
        <li>Fecha: {{ comprobante.fecha }}</li>
        <li>Monto: {{ comprobante.monto }}</li>
        <li>Descripción: {{ comprobante.descripcion }}</li>
    </ul>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="{{ previous_page }}" class="btn btn-secondary me-md-2">Volver</a>
    </div>
</body>
</html>
{% endblock %}