{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola desde comprobantes</title>
        <style>
        .container {
            max-width: 600px;
            margin-top: 50px;
        }
        .form-card {
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            padding: 30px;
        }
    </style>
</head>
<body>
    <a href="{% url 'crear_comprobante' %}">Crear Comprobante</a>

    Lista de Comprobantes:
    <ul>
        {% for comprobante in comprobantes %}
            <li><a href="{% url 'detalle_comprobante' comprobante.id %}">{{comprobante.id}}</a> {{ comprobante.numero }} - {{ comprobante.fecha }} - {{ comprobante.monto }} - {{ comprobante.descripcion }}</li>
        {% empty %}
            <li>No hay comprobantes disponibles.</li>
        {% endfor %}   
    </ul>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="{{ previous_page }}" class="btn btn-secondary me-md-2">Volver</a>
    </div>

</body>
</html>
{% endblock %}